{
  "root": true,
  "plugins": [
  ],
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-console": 2 // Remember, this means error!
  },
  "env": {
    "node": true,
    "jest": true
  }
}
